; copied from "standard" Heart Aerospace ES-30 model

									; ==== EXTERIOR ====
; ==== _______________________________________________________________________________ ====

[MERGE_MODEL.0]
merge_file="SimObjects\Airplanes\Asobo_ES30\attachments\asobo\Asset_Exterior_Collision\model\Collision.gltf"
merge_to_model = "exterior"

[SIM_ATTACHMENT.0]
attachment_root="SimObjects\Airplanes\Asobo_ES30\attachments\asobo\Function_Exterior"
attachment_file="model/Exterior.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Exterior"

									; ==== COCKPIT ====
; ==== _______________________________________________________________________________ ====

[MERGE_MODEL.1]
merge_file="SimObjects\Airplanes\Asobo_ES30\attachments\asobo\Part_Interior_Cockpit_AttachNodes\model\Attach_Nodes_Cockpit.gltf"
merge_to_model = "interior"

[SIM_ATTACHMENT.1]
attachment_root="SimObjects\Airplanes\Asobo_ES30\attachments\asobo\Function_Interior"
attachment_file="model/Interior.xml"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Interior"

								; ==== CABIN ATTACHEMENT ====
; ==== _______________________________________________________________________________ ====

[SIM_ATTACHMENT.2]
attachment_root="SimObjects\Airplanes\Asobo_ES30\attachments\asobo\Function_Cabin"
attachment_file="model/Cabin.xml"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Cabin"
