[LIGHTS]

[ELECTRICAL]
; base capacity was 3000 Ah, which gave an electric range of ~100 nm
consumer.1 = Name:ConsumerHeavyBattery#CType:Battery#Capacity:30000#Amperage:1850#Voltage:800
;Engine busses distributed to Motors
;LowBatteries to busses
;Hacky line to suppress NO LINE warning
;External Power
[MODULAR_MERGE]
auto = 1