[MODULAR_MERGE]
auto = 1

[FLTSIM.0]
title = Cessna 185 FSEconomy Tanks  ; must match an existing FSE alias
short_description = FSEconomy Tank Sizes
ui_variation = FSE Tanks  ; what is will show as on the Variant screen
description = The Cessna 185 is now outfitted in tanks to match the FSEconomy configuration. Configured by Cardboard GT.
ui_createdby = "Microsoft/Carenado" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc  ; match the upstream model to merge as a variant, vary to have it show as a separate plane
; ui_certified_ceiling = 12999
ui_max_range = 816 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6.8 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 87 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
ui_additional_information = Now outfitted with FSE (2 x 44 gal) tanks!
; capacity = 5
atc_parking_types = "ANY" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
